---
import BaseLayout from '../layouts/BaseLayout.astro'
import EventsPreview from '../components/EventsPreview.astro' 
import Lspan from '../components/LocalizedSpan.astro'
import La from '../components/LocalizedLink.astro'

import { isPast } from '../scripts/utils.js'
import SiteConfig from '../../content/site.config.json';
import googlecalendarevents_all from '../../content/scrape/googlecalendar.json';
import facebookevents_all from '../../content/scrape/facebookevents.json';

const events_joined = googlecalendarevents_all;
const {past_events, future_events}  = Object.groupBy(events_joined, e => isPast(e.dtstart_iso) ? "past_events" : "future_events"); 

---
<BaseLayout pageTitle="Events">
    <main>
        <section>
            <h1>
                <Lspan lang="fr">Nos événements</Lspan>
                <Lspan lang="ru">Мероприятия</Lspan>
            </h1>
            <EventsPreview events={future_events} googlecalendar_id={SiteConfig.googlecalendar_id} subscribe={true} embed={true} />
        </section>

        <section>
            <h1>Archive</h1>
            <EventsPreview events={past_events}  />
        </section>
    </main>
</BaseLayout>
