---

import { formatDateTime, getCurrentLocale, excerpt, isProd } from '../scripts/utils.js';

import googlecalendar_events from '../../content/scrape/googlecalendar.json';

const currentLocale = getCurrentLocale(Astro);
const { googlecalendar_id, future, past, auto, embed, subscribe, now } = Astro.props;
const embed_url     = `https://calendar.google.com/calendar/embed?src=${googlecalendar_id}`;
const subscribe_url = `https://calendar.google.com/calendar/r?cid=${googlecalendar_id}`;

function formatMapsLink(location)
{
    if(!location)
        return '';
    const google_maps_prefix = 'https://www.google.com/maps/search/?api=1&query=';
    const query = location.split().join('+');
    const url = google_maps_prefix + query;
    return url;
}

function formatIcsFileName(dtstart_iso)
{
    return dtstart_iso.replaceAll(':', '-').replaceAll('.', '-') + '.ics';
}

const events_joined = googlecalendar_events;

---

<div class="card-grid">
{events_joined.map(e => (
    <article class="card">
        { (true || "e.past") ? (
            <h2 class="card-title">{e.summary}</h2>
        ) : (
        <a download={formatIcsFileName(e.dtstart_iso)} href={"data:text/calendar," + encodeURIComponent(e.ical_str || "")}>
            <h2 class="card-title">{e.summary}</h2>
        </a>
        )}
        <div class="card-meta">
            <time datetime={e.dtstart_iso}>{e.dtstart_iso}<!-- formatDateTime(e.evt.startDate.toJSDate(), currentLocale)--></time>
            <a href={formatMapsLink(e.location)}>
                <address>{e.location}</address>
            </a>
        </div>
        <blockquote class="card-excerpt">{excerpt(e.description)}<blockquote/>
    </article>
))}
</div>
{events_joined.length == 0 && (<p><slot /></p>)}

{!embed && subscribe && (
<div style="display:flex; margin-top:1em">
<a style="margin:auto" href={subscribe_url} class="link-button" target="_blank">Add to Google Calendar</a>
</div>
)}

{(embed && isProd()) ? (
<iframe  style="border: 0" width="100%" height="600" frameborder="0" scrolling="no" src={embed_url}></iframe>
) : embed ? (
<p>Not displaying Google Calendar embed in development to avoid bans</p>
) : (<p></p>)
}
