---
import BaseLayout from '../layouts/BaseLayout.astro'
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <main>
    <section>
      <h1>{frontmatter.title}</h1>
      <time datetime={frontmatter.date ? new Date(frontmatter.date).toISOString() : ''}>{(frontmatter.date || '').toString()}</time>
      <p><em>{frontmatter.description}</em></p>
      <img src={frontmatter.image?.url} width="300" alt={frontmatter.image?.alt} />
      <slot />
    </section>
  </main>
</BaseLayout>